<h1>Game History - Saved Games</h1>
<table id="gamehistory">
	<tr><td>GameID</td><td>Date</td></tr>
	<% for (var i in games) {%>
   		<tr><td><a href=/loadgame/<%= games[i].gid %>><%= games[i].gid %></td><td><%= games[i].tstamp %></td></tr>
	<%} %>
</table>
