<!-- Login View -->
<h1>User Login</h1>
<% if (error) { %>
	<h3 class="error"><%= error %></h3>
<%} %>
<form name="loginForm" method="post" action="/login" onsubmit="return validateLoginForm();" >
	<table id="login">
		<tr><td><label>Name: </label><input type="text" name="name"></td></tr>
		<tr><td><label>Password: </label><input type="password" name="password"<td><tr>
		<tr><td><input type="submit" value="Login"></td></tr>
	</table>
</form>