body {
	font-family: sans-serif, "MS Trebuchet", Helvetica;
	font-size: 15px;
	width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

div#board  {
	float: left;
	width: 500px;
}
div#settings {
	float: left;

}

table#gameboard {
	border:groove 5px #424242;
	border-radius: 5px;
	padding: 3px;
	background-color: #D0D0D0;
}

table#gameboard td{
	border-radius: 2px;
	padding: 1px;
	background-color: #cbcbcb;
   	background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

p {
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    text-align: justify;
}

.p0{
	background-color: #cbcbcb;
}

.p1 {
   background-image: url(/images/black_piece.gif);

}

.p-1{
   background-image: url(/images/white_piece.gif);
}

.pMove{
	background-color: moccasin;
}

label {
	padding: 15px;
}

table#gamehistory {
	border:groove 5px #424242;
	border-radius: 5px;
	padding: 5px;
	background-color: #D0D0D0;
	text-align: center;
	position: relative;

}
table#gamehistory td {
	padding: 5px;
}
table#gamehistory tr:nth-child(2n+1) {
  background-color: #909090;
}

.error {
	color: #ea1e1e
}