body {
	font-family: sans-serif, "MS Trebuchet", Helvetica;
	font-size: 15px;
	width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

h1 {
	text-align: center;
	margin: 20px;
}

div#board  {
	float: left;
	text-align: center;
	width: 500px;
}
div#settings {
	float: left;

}
p {
	  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    text-align: justify;
}

div table td {
   background-color: #cbcbcb;
   height: 49px;
   width: 49px;
}

.p0{
	background-color: #cbcbcb;
}

.p1 {
   background-image: url(/images/black_piece.gif);

}

.p-1{
   background-image: url(/images/white_piece.gif);
}

.pMove{
	background-color: moccasin;
}

label {
	padding: 20px;
}
